
div{
    border: 10px double;
    width:50px;
    height: 50px;
    border-radius: 50%;
    border-top-color: #625ee8;
    border-bottom-color: #625ee8;
    animation-name: spinner;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
body{
    background-color: black;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}
h1{
    color:aqua;
    font-style:oblique;
    font-weight: bolder;
}
@keyframes spinner {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}